.ativos{
  border-radius: 20px;
  background: rgb(6, 172, 42);
  font-weight: bolder;
  text-align: center;
  margin: 0.1%;
}

.inativos{
  border-radius: 20px;
  background: #e92d2d;
  font-weight: bolder;
  text-align: center;
  margin: 0.1%;
}

.semuso{
  border-radius: 20px;
  background: #f3fa31;
  font-weight: bolder;
  text-align: center;
  margin: 0.1%;
}

body{
  background-color: rgb(253, 253, 253);
  
}

.fontemaior{
  font-size: 40px; 
  
}

.rodape{
  font-size: 28px;
  height: 55;
  
}

.seach-box{
  position: center;
  background: rgb(160, 154, 154);
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seach-txt{
  border: none;
  background: none;
  outline: none;
  padding: 0;
  width: 2045;
  color: rgb(12, 11, 11);
  font-size: 16px;
  line-height: 40px;
}

.ima{
  height: 25;
  width: 25;
  border-radius: 20px;
}


