.ativos{
  border-radius: 20px;
  background: rgb(6, 172, 42);
  font-weight: bolder;
  text-align: center;
}

.inativos{
  border-radius: 20px;
  background: #e92d2d;
  font-weight: bolder;
  text-align: center;
}

.semuso{
  background: #e0e805;
  border-radius: 20px;
  font-weight: bolder;
  text-align: center;
}

body{
  background-color: black;
  
}

.fontemaior{
  font-size: 33px; 
  
}

.rodape{
  font-size: 25px;
  height: 55;
  
}

.seach-box{
  position: center;
  background: #fff;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seach-txt{
  border: none;
  background: none;
  outline: none;
  padding: 0;
  width: 2045;
  color: rgb(5, 5, 5);
  font-size: 16px;
  line-height: 40px;
}

.ima{
  height: 25;
  width: 25;
  border-radius: 20px;
}